/* common shared style 
 */
 body{
    font-family: 'Open Sans', sans-serif;
 }
.orangr-text{
    color: #FD6E0A;
}
/* nav releted style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #181818;
/* font-family: Open Sans; */
font-size: 45px;
/* font-style: normal; */
font-weight: 800;
/* line-height: normal; */
margin: 0 200px;
}
nav >ul{
    display: flex;
    /* align-items: ; */
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-p{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-family: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
.header{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .p-pic{
    width: 500px;
}
.banner-c{
max-width: 500px;
}
.banner-g{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.bannar-t{
    font: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
/* bannar-d{

} */
/* main section */
main{
    max-width: 1140px;
    margin:0 auto;
/* height: 550px;
flex-shrink: 0; */
}
main-section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8f3;
    margin: 130px 0px;
}
.section-title{
    color:#181818;
text-align: center;
/* font-family: Open Sans; */
font-size: 35px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.section-des{
    color:#757575;
text-align: center;
/* font-family: Open Sans; */
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
/* line-height: 30px; */
}
.about-info-conteiner{
    display: flex;
    justify-content: space-around;
}
.about-info{
    align-items: center;

}
.about-info {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 40;
    line-height: 2px;
  }

  .sectionTitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
  }


#what-i-do{
    padding: 30px 150px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;

}
.skill{

    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0, 0.06);
}
.skills-des{
    color: #757575;
}
.resume-colume-title{
    color: #474747;

font-size: 25px;

font-weight: 700;

}
.resume-conteiner{
    display: flex;
}
.resume-item-title{
    color:#757575;
/* font-family: Open Sans; */
font-size: 20px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
margin-bottom: 10px;
}
.resume-conteiner hr{
    margin: 10px;
    /* width: 558px;
height: 1px; */
}
.resume-conteiner{
    margin: 30px;
}

.resume-item-ins{
    color: #757575;
    margin-top: 0px;
    margin-bottom: 20px;
} 
 .resume-item-des{
color: #757575;
}
.download-cv{
text-align: center;
margin-top: 50px;
}